@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Maple Mono NF", monospace;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
  margin: 5px 0;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background: rgba(0, 0, 0, 0.5);
  /* background-color: @subtext0; */
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-swaync,
#network,
#custom-weather {
  background: rgba(0, 0, 0, 0.5);
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @lavender;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
  background: rgba(0, 0, 0, 0.5);
}

#battery.charging {
  color: @green;
  background: rgba(0, 0, 0, 0.5);
}

#battery.warning:not(.charging) {
  color: @red;
  background: rgba(0, 0, 0, 0.5);
}

#backlight {
  color: @yellow;
  background: rgba(0, 0, 0, 0.5);
}

#network {
  color: @peach;
  background: rgba(0, 0, 0, 0.5);
}

#pulseaudio {
  color: @red;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
}

#custom-weather {
  color: @sky;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  font-size: 15px;
}

#tray {
  background: rgba(0, 0, 0, 0.5);
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-swaync {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin-right: 1rem;
  /* margin-top: 0.3rem; */
  /* margin-bottom: 0.3rem; */
}
