gui:
  showBranchCommitHash: true
  nerdFontsVersion: "3"
  theme:
    activeBorderColor:
      - "#ff966c"
      - "bold"
    inactiveBorderColor:
      - "#589ed7"
    searchingActiveBorderColor:
      - "#ff966c"
      - "bold"
    optionsTextColor:
      - "#82aaff"
    selectedLineBgColor:
      - "#2d3f76"
    cherryPickedCommitFgColor:
      - "#82aaff"
    cherryPickedCommitBgColor:
      - "#c099ff"
    markedBaseCommitFgColor:
      - "#82aaff"
    markedBaseCommitBgColor:
      - "#ffc777"
    unstagedChangesColor:
      - "#c53b53"
    defaultFgColor:
      - "#c8d3f5"
os:
  editPreset: "nvim"
git:
  pagers:
    - colorArg: always
      pager: delta --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
  autoFetch: false
  autoRefresh: true
  commit:
    signOff: true
  log:
    showWholeGraph: true
quitOnTopLevelReturn: true
customCommands:
  - key: "<c-p>"
    description: "Pull all branches with remote changes"
    command: "git fetch --all && git branch -r | grep -v HEAD | while read remote; do git branch --track \"${remote#origin/}\" \"$remote\" 2>/dev/null; done && git pull --all"
    context: "localBranches"
    loadingText: "Pulling all branches..."
  - key: "C"
    command: "git cz"
    description: "commit with commitizen"
    context: "files"
    loadingText: "opening commitizen commit tool"
    output: terminal
  - key: "p"
    description: "Create Pull Request (select branches)"
    command: "gh pr create --head {{.SelectedLocalBranch.Name}} --base {{.Form.Branch}}"
    context: "localBranches"
    output: "terminal"
    prompts:
      - type: "input"
        title: "Which Branch?"
        key: "Branch"
        suggestions:
          preset: "branches"
    loadingText: "Creating Pull Request..."
  - key: "P"
    description: "Merge GitHub Pull Request"
    context: "localBranches"
    loadingText: "Merging GitHub Pull Request..."
    command: "gh pr merge --admin {{.Form.PullRequestNumber}}"
    prompts:
      - type: "menuFromCommand"
        title: "Which PR do you want to merge?"
        key: "PullRequestNumber"
        command: >-
          gh pr list --json number,title,headRefName,updatedAt --template '{{`{{range .}}{{printf "#%v: %s - %s (%s)" .number .title .headRefName (timeago .updatedAt)}}{{end}}`}}'
        filter: "#(?P<number>[0-9]+): (?P<title>.+) - (?P<ref_name>[^ ]+).*"
        valueFormat: "{{.number}}"
        labelFormat: '{{"#" | black | bold}}{{.number | white | bold}} {{.title | yellow | bold}}{{" [" | black | bold}}{{.ref_name | green}}{{"]" | black | bold}}'
