CompileFlags: # Tweak the parse settings
  Add: [-Wall] # treat all files as C++, enable more warnings
  # Remove: # strip all other warning-related flags
  # Compiler: clang++               # Change argv[0] of compile flags to `clang++`

Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
  UnusedIncludes: Strict

Completion:
  AllScopes: Yes

InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
